* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
}

main{
    margin: 0 auto;
}

.main-section{
    margin: 0 1em;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    max-width: 320px;
}

h1, p, img {
    margin-bottom: 10px;
}

h1{
    color: hsl(218, 44%, 22%);
}

p{
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}

.img-figure{
    align-items: center;
    margin: 0 auto;
}

img{
    border-radius: 10px;
    width: 100%;
}

.fig-caption{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}